.wear-picture {
    text-align: center;
}
.wear-info {
    padding: 0 20px;
}
img {
    max-width: 100%;
}

h3 {
    padding-top: 40px;
}

h4 {
    padding: 20px 0 30px 0;
    color: #757575;
}
h5 {
    padding-top: 20px;
    font-weight: 700;
}
.description {
    color: #757575;
    font-size: 13px;
    padding: 10px 0 20px 0;
}
form {
    width: 100%;
    display: inline-block;
    position: relative;
}

label {
    position: absolute;
    left: 0px;
    top: calc(50% - 8px);
    line-height: 16px;
    color: #757575;
    pointer-events: none;
}
.select-block {
    border-top: 1px solid #ccc;
}
select {
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px 24px 16px 80px;
     width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-weight: 300;
    color: #202020;
    overflow: hidden;
    margin: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
}
